@page
@model EmailConfirmationTokenReset
@{
    ViewData["Title"] = "Successfully reset email confirmation";
}

<h3>@ViewData["Title"]</h3>

<hr />
<p class="text-success">Token successfully reset. <a asp-action="Index" asp-controller="Home"> Go to home page.</a></p>
