@page
@model EmailNotConfimed
@{
    ViewData["Title"] = "Email not confirmed";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has not been confimed, please confirm your email first and try again.</p>
    <p class="text-info">If you haved recieved an email for confirmation <a asp-area="Identity" asp-page="/Account/ResetEmailConfirmation">click here</a></p>
    
</header>
