@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h3>@ViewData["Title"]</h3>
<hr />
<p>
    Please check your email to reset your password. <a asp-area="Identity" asp-page="/Account/Login">Go back.</a>
</p>


