@model PaginatedModel<ContestSubmissionViewModel>
@{
    var paginationModel = new PaginationPartialModel()
    {
        Action = "GetById",
        Controller = "Dashboard",
        TotalPages = Model.TotalPages,
    };
}

<div class="gallery_area clearfix">
    <h5 style="text-align:center; color:gray;">@Model.Model.FirstOrDefault().ContestName</h5>
    <h5 style="text-align:center; color: cornflowerblue;">@Model.Model.FirstOrDefault().ContestCategory</h5>
    <div class="container-fluid clearfix">
        <div class="row portfolio-column">
            @if (Model.Model.Count == 0)
            {
                <div>
                    <h5 style="text-align:center">No image to show!</h5>
                    <div>
                        <img src="https://res.cloudinary.com/fullfraim/image/upload/v1621264858/ph35bowvd954a9jfydxe.gif" />
                    </div>
                </div>
            }
            @foreach (var item in Model.Model)
            {
                <partial name="~/Views/Shared/Partials/_ContestSubmissionPartial.cshtml" model="item" />
            }

        </div>
        <div style="margin-top:2rem;">
            @if (Model.Model.Count > 0)
            {
                <partial name="~/Views/Shared/Partials/_PagingPartial.cshtml" model="paginationModel" />
            }
        </div>
    </div>
</div>