@model PhotoDto

<div class="gallery_area clearfix">
    <div class="container-fluid clearfix">
        <div class="row portfolio-column">

               <partial name="~/Views/Shared/Partials/_ContestUserSubmissionPartial.cshtml" model="Model" />

        </div>
        <div class="row">
            <div class="col-12 text-center mt-70">
                <a href="#" class="btn studio-btn"><img src="/img/core-img/logo-icon.png" alt=""> Load More</a>
            </div>
        </div>
    </div>
</div>