@model PaginatedModel<ContestSubmissionViewModel>

<div class="gallery_area clearfix">
    <div class="container-fluid clearfix">
        <div class="row portfolio-column">

            @if (Model.Model.Count == 0)
            {
                <div>
                    <h5 style="text-align:center">No image to show!</h5>
                    <div>
                        <img src="https://res.cloudinary.com/fullfraim/image/upload/v1621264858/ph35bowvd954a9jfydxe.gif" />
                    </div>
                </div>
            }
            @foreach (var item in Model.Model)
            {
                <partial name="~/Views/Shared/Partials/_ContestSubmissionPartial.cshtml" model="item" />
            }

        </div>
    </div>
</div>