@model PhotoDto

<div class="gallery_area clearfix">
    <div class="container-fluid clearfix">
        <div class="row portfolio-column">

               <partial name="~/Views/Shared/Partials/_ContestUserSubmissionPartial.cshtml" model="Model" />

        </div>
    </div>
</div>