@model IEnumerable<DashboardViewModel>

<div class="social-sidebar-area">
    <!-- Social Area -->
    @await Component.InvokeAsync("PointsTillNext")
</div>

<div class="gallery_area clearfix">
    <div class="container-fluid clearfix">
        <a asp-route-id="1" data-toggle="modal" data-target=".contact-modal-lg" class="btn btn-primary"
           onclick="OpenModal('@Url.Action("Enroll", "Dashboard", null, Context.Request.Scheme)', 'Enroll', 1)">Demo</a>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index"
                       asp-route-categoryId="0">All</a>
                    @foreach (var category in ViewBag.Categories)
                    {
        <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index"
           asp-route-categoryId="@category.Id">@category.Name</a>}
                </li>
            </ul>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Architecture</a>
                <a class="dropdown-item" href="#">Photo Journalism</a>
                <a class="dropdown-item" href="#">Portraits</a>
            </div>
        </div>
        <div style="margin-bottom: 1rem;margin-top: 1rem;">Open</div>
        <div class="row portfolio-column">
            @foreach (var item in Model.Where(x => x.ActivePhase.Name == "PhaseI").ToList())
            {
                <partial name="~/Views/Shared/Partials/_ContestCardPartial.cshtml" model="item" />
            }
        </div>
        <div style="margin-bottom: 1rem;margin-top: 4rem;">Reviewing</div>
        <div class="row portfolio-column">
            @foreach (var item in Model.Where(x => x.ActivePhase.Name == "PhaseII").ToList())
            {
                <partial name="~/Views/Shared/Partials/_ContestCardPartial.cshtml" model="item" />
            }
        </div>
        <div style="margin-bottom:1rem;margin-top: 4rem;">Closed</div>
        <div class="row portfolio-column">
            @foreach (var item in Model.Where(x => x.ActivePhase.Name == "Finished").ToList())
            {
                <partial name="~/Views/Shared/Partials/_ContestCardPartial.cshtml" model="item" />
            }
        </div>

        @*<div class="row">
            <div class="col-12 text-center mt-70">
                <a href="#" class="btn studio-btn"><img src="/img/core-img/logo-icon.png" alt=""> Load More</a>
            </div>
        </div>*@
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            OpenModal = (url, title, id) => {
                $.ajax({
                    type: "GET",
                    url: url,
                    data: { contestId: id },
                    success: function (response) {
                        $(".modal-title").html(title);
                        $(".modal-body").html(response);
                    }
                });
            }
        });
    </script>
}