@model ICollection<OutputContestDto>

<div style="margin: 13rem 13rem 13rem 13rem">
    @foreach (var contest in Model)
    {
        <p>@contest.Name</p>
        <p>@contest.Id</p>
        <p>@contest.ActivePhase.Name</p>
    }
</div>