@model IEnumerable<HomeIndexViewModel>

<div class="carousel-item active">
    <div class="container">
        <partial name="_CarouselPartial" />
    </div>
</div>

<div class="container-fluid">
    <partial name="_ContestPartial" />
</div>

