@model IEnumerable<HomeIndexViewModel>

    @*<div class="container-fluid">
        <partial name="_CarouselPartial" />
    </div>*@


    <div class="carousel-item active">
        <div class="container">
            <partial name="_CarouselPartial" />
        </div>
    </div>


@{
    ViewData["Title"] = "Home Page";
}



