@model List<RankAndPointsViewModel>


<div>
    <h3>Top @Model.Count()</h3>
    <hr style="max-width: 70%;">
    @foreach (var item in Model)
    {
        <p>@item.FullUserName @item.PointsTillNextRank</p>
    }
</div>
