@model PhotoDto

<div class="col-sm-4 col-lg-4 col-md-4 align">
    <div class="img-thumbnail">
        <img src="https://images.mansionglobal.com/im-70011?size=1.777&width=1280" alt="" class="img-fluid" />
        <div class="figure-caption">
            @*<h4 class="float-right">@Model.</h4>*@ @*Review button*@
            <h4 class="text-info">
                <a>@Model.PhotoName</a> @*Contest name*@
            </h4>
            <p>@Model.PhotoName</p> @*Category*@
        </div>
        <div class="text-center">
            <p class="btn">
                <a class="btn-success" @*id="cartButton"*@
                   asp-controller="ContestEnroll"
                   asp-action="SubmitEnrollemntForm"
                   asp-route-photoId="@Model.Id">
                    Submit now
                </a>
            </p>
        </div>
    </div>
</div>