﻿@{
    ViewData["Title"] = "Home Page";
}




@*<div class="carousel-item">
        <img src="https://image.shutterstock.com/z/stock-photo-beautiful-horses-in-a-field-1930209848.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>First Photo</h5>
            <p>May 2020 Winner</p>
        </div>
        <img src="https://image.shutterstock.com/z/stock-photo-gemsbok-dual-artistic-processing-223257292.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>First Photo</h5>
            <p>May 2020 Winner</p>
        </div>
        <img src="https://image.shutterstock.com/image-photo/black-marble-ink-texture-acrylic-600w-525369016.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>First Photo</h5>
            <p>May 2020 Winner</p>
        </div>
        <img src="https://image.shutterstock.com/image-photo/mom-baby-giraffe-face-black-260nw-1632257368.jpg" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>First Photo</h5>
            <p>May 2020 Winner</p>
        </div>
        <img src="https://image.shutterstock.com/image-photo/beautiful-black-panter-portrait-on-600w-1542550379.jpg" alt="Five slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>First Photo</h5>
            <p>May 2020 Winner</p>
        </div>
    </div>*@