@model DashboardViewModel

<div class="card" style="margin-inline:1rem">
    @if (Model.ContestCategory == "Portrait")
    {
        <img class="card-img-top" src="@Model.Cover_Url" alt="Card image cap" style="width: 300px; height:400px">
    }
    else
    {
        <img class="card-img-top" src="@Model.Cover_Url" alt="Card image cap" style="width: 300px; height:200px">
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        @if (Model.PhaseI_Time < DateTime.UtcNow)
        {
            int daysLeft = (int)(DateTime.UtcNow - Model.PhaseI_Time).TotalDays;
            <p>Deadline in @daysLeft days</p>
            <button class="btn btn-primary">Enroll</button>
        }
        else if (Model.PhaseI_Time >= DateTime.UtcNow && Model.PhaseII_Time < DateTime.UtcNow)
        {
            <p>Closed for enrollement</p>
        }
        else if (Model.PhaseIII_Time == DateTime.UtcNow)
        {
            <p>Finished</p>
        }
    </div>
</div>

