@model DashboardViewModel

<div class="col-sm-4 col-lg-4 col-md-4 align">
    <div class="img-thumbnail">
        <img src="https://images.unsplash.com/photo-1621101452060-a1e421ecb3af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" class="img-fluid" />
        <div class="figure-caption">
            <p>@Model.ContestCategory</p>
            <h4 class="text-info">
                <a>@Model.Name</a>
            </h4>
            <p>@Model.Description</p>

            @if (Model.PhaseI_Time < DateTime.UtcNow)
            {
                int daysLeft = (int)(DateTime.UtcNow - Model.PhaseI_Time).TotalDays;
                <p>Deadline in @daysLeft days</p>
            }
            else if (Model.PhaseI_Time >= DateTime.UtcNow && Model.PhaseII_Time < DateTime.UtcNow)
            {
                <p>Closed for uploading</p>
            }
            else if (Model.PhaseIII_Time == DateTime.UtcNow)
            {
                <p>Finished</p>
            }
        </div>

        <div class=" learnMore text-center">
            <p><a class="btn btn-info text-light btn-lg btn-block" href="https://getbootstrap.com/docs/4.0/components/buttons/" role="button">SUMBIT</a></p>
        </div>
        @*<div class=" submit text-center">
            <p class="btn btn-info btn-lg btn-block">
                <a class="btn-info" id="submissionButton"
                   asp-controller="SubmissionForm"
                   asp-action="SubmitAContest"
                   asp-route-contestId="@Model.Id">
                    SUBMIT
                </a>
            </p>
        </div>*@
        <div class=" learnMore text-center">
            <p><a class="btn btn-link text-dark" href="https://getbootstrap.com/docs/4.0/components/buttons/" role="button">LEARN MORE</a></p>
        </div>
    </div>
</div>
