@model CreateContestViewModel

@{
    var categories = new SelectList(ViewBag.Categories, "Id", "Name");
    var types = new SelectList(ViewBag.ContestTypes, "Id", "Name");
}

<div style="padding: 12rem 12rem 12rem 12rem">
    <h1>Create Contest</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name of Contest">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cover"></label>
            <input asp-for="Cover" class="form-control">
            <span asp-validation-for="Cover" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Contest Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContestCategoryId"></label>
            <select asp-for="ContestCategoryId" asp-items="categories" class="form-control">
            </select>
            <span asp-validation-for="ContestCategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContestTypeId"></label>
            <select asp-for="ContestTypeId" asp-items="types" class="form-control">
            </select>
            <span asp-validation-for="ContestTypeId" class="text-danger"></span>
        </div>

        <h5>Phase I</h5>
        <div class="form-group">
            <label asp-for="Phases.EndDate_PhaseI"></label>
            <input asp-for="Phases.EndDate_PhaseI" class="form-control">
            <span asp-validation-for="Phases.EndDate_PhaseI" class="text-danger"></span>
        </div>
        <h5>Phase II</h5>
        <div class="form-group">
            <label asp-for="Phases.EndDate_PhaseII"></label>
            <input asp-for="Phases.EndDate_PhaseII" class="form-control">
            <span asp-validation-for="Phases.EndDate_PhaseII" class="text-danger"></span>
        </div>

        <button asp-controller="Contest" asp-action="Create" formmethod="post" type="submit" class="btn btn-success btn-rounded">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
